body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.add-form {
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

button[type="submit"] {
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.del-btn {
    background-color: #bb0000;
}

.del-btn:hover {
    background-color: #e10c0c;
}

.add-btn {
    background-color: #03640f;
}

.add-btn:hover {
    background-color: #05b214;
}

label {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
}

.table-main {
    display: flex;
}


