<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>Todo List</h1>
<div class="table-main">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Todo</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <% console.log('eww',todos) %>
        <% for (let i = 0; i < todos.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= todos[i] %></td>
                <td>
                    <form action="/" method="POST" style="display:inline" class="delete-form">
                        <input type="hidden" name="deleteIndex" value="<%= i %>">
                        <button type="submit" class="del-btn">Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<form action="/" method="POST" class="add-form">
    <label>
        <input type="text" name="todo" placeholder="Add a todo">
    </label>
    <button type="submit" class="add-btn">Add</button>
</form>
</body>
</html>