<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet"  href='/registerStyle.css'>
</head>
<body>

    <form action="/registration" method="POST" class="register-form">
        <h1 class="heading">Registration</h1>
        <label for="userName"><b>userName</b></label>
        <input type="text" placeholder="Enter userName" name="userName" id="userName" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Repeat Password" name="confirmPassword" id="confirmPassword" required>
        <hr>
        <div class="new">
            <span>Already Have an Account</span>
            <a  href="./login" >
                <span class="signUp">Login</span>
            </a>
           
        </div>

        <button type="submit" class="add-btn">Register</button>
    </form>
</body>
</html>